<div class="users-grid">
    <table class="users-grid__table">
        <thead>
            <tr>
                <th>{{ 'NAME' | translate }}</th>
                <th>{{ 'PERMISSIONS' | translate }}</th>
                <th class="actions">{{ 'ACTIONS' | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr user-row user="user" ng-repeat="user in vm.getUsers() track by $index"></tr>
        </tbody>
    </table>
    <button ng-click="vm.addNewUser()" class="users-grid__add-user">
        <i class="fa fa-plus" aria-hidden="true"></i>
    </button>
</div>
